<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../assets/homeStyle.css"/>
    <title>RandWinner</title>
</head>
<body>
<div class="center-form">
    <form id="join-contest" method="post" action="/add-member">
        <h1 class="text"><b>Добавлення</b></h1>
        <br/><br/>
        <label for="contest">ID конкурсу</label>
        <br/>
        <input type="text" name="contest" id="contest" placeholder="ID">
        <br/><br/>
        <label for="password">Пароль</label>
        <br/>
        <input type="password" name="password" id="password" placeholder="Пароль">
        <br/><br/>
        <input type="submit" id="datetime" name="datetime" value="Готово">
    </form>
</div>
</body>
</html>